@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Luckiest+Guy&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #000607;

  color: #fef1cf;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  height: auto;
}
figure {
  margin: 0;
  padding: 0;
  border: 0;
}
.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.p-o-header.is-open .p-o-header-background {
  left: 0;
}
.p-o-header-button-wrapper {
  margin-left: auto;
}
.p-o-header-icon {
  display: none;
}

.p-o-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.p-o-navigation-list.is-open {
  right: 0;
}
.p-o-header-icon-menu {
  display: block;
}

.p-o-header-icon-button.is-open .p-o-header-icon-menu {
  display: none;
}

.p-o-header-icon-button.is-open .p-o-header-icon-close {
  display: block;
}

.p-o-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 61px;
  background: #000607;
}

.p-o-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  background: #000607;
}
.p-o-header.is-open .p-o-header-background {
  left: 0;
}
.p-o-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.p-o-header-icon-menu {
  display: block;
}

.p-o-header-icon-button.is-open .p-o-header-icon-menu {
  display: none;
}

.p-o-header-icon-button.is-open .p-o-header-icon-close {
  display: block;
}

.p-o-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 9px 34px;
  position: relative;
}

.p-o-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: auto;
  transition: 0.3s;
  z-index: 999;
  padding: 100px 0px;

  gap: 30px;
  background: #000607;
}

.p-o-navigation-list.is-open {
  right: 0;
}

.p-o-navigation-link {
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: #fef1cf;
  font-family: Luckiest Guy;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
}

.p-o-navigation-link:hover,
.p-o-navigatioт-link:focus {
  color: #81b614;
}
.p-o-navigation-item-desk {
  width: 147px !important;
}
.p-o-header.is-open {
  background-color: transparent;
}

.p-o-navigation-img {
  display: none;
}
.p-o-header-terms-img {
  width: 24px;
}
@media screen and (min-width: 1196px) {
  .p-o-navigation-img {
    display: block;
    margin-right: 230px;
  }
  .p-o-header-terms-img {
    width: 41px;
  }
  .p-o-navigation-item-desk {
    margin-top: 0 !important;
    width: 234px !important;
    margin-left: 140px;
  }
  .p-o-policy-terms-header-icon-menu {
    display: none;
  }
  .p-o-header-button-wrapper {
    display: none;
  }
  .p-o-header {
    width: 100%;
    height: 94px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  .p-o-header-icon-button {
    display: none;
  }
  .p-o-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    padding: 0 49px;
    margin: auto;
  }

  .p-o-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 30px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .p-o-navigation-link {
    font-family: Luckiest Guy;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
  }
}

.p-o-home {
  width: 375px;
  height: 533px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Frame\ 66.png");
  margin: auto;
}
.p-o-home-container {
  width: 375px;
  padding: 140px 19px 0px;
  margin: auto;
}

.p-o-home-title {
  font-family: Luckiest Guy;
  font-weight: 400;
  font-style: Regular;
  font-size: 30px;
  leading-trim: NONE;
}
.p-o-home-title span {
  color: #a0c51e;
}
.p-o-home-text {
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
}
.p-o-home-img {
  margin-top: 30px;
  width: 199px;
  transition: all 0.3s ease-in-out;
}

.p-o-home-img:hover {
  transform: scale(1.1);
}

@media screen and (min-width: 1196px) {
  .p-o-home {
    width: auto;
    height: 948px;
    background-image: url("/img/Frame\ 67.png");
  }
  .p-o-home-container {
    width: 1440px;
    height: 948px;
    padding: 258px 70px 0px;
  }

  .p-o-home-title {
    font-family: Luckiest Guy;
    font-weight: 400;
    font-style: Regular;
    font-size: 112px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
  }

  .p-o-home-text {
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 22px;
    leading-trim: NONE;
    width: 570px;
  }
  .p-o-home-img {
    margin-top: 30px;
    width: 340px;
    transition: all 0.3s ease-in-out;
  }
}

.p-o-about-title {
  font-family: Luckiest Guy;
  font-weight: 400;
  font-style: Regular;
  font-size: 28px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}

@media screen and (min-width: 1196px) {
  .p-o-about-title {
    font-family: Luckiest Guy;
    font-weight: 400;
    font-style: Regular;
    font-size: 100px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
  }
}

.p-o-why-container {
  width: 375px;
  margin: auto;
  padding: 40px 20px 0;
}
.p-o-why-list {
  padding-top: 30px;
}
.p-o-why-lists {
  display: none;
}
.p-o-why-item {
  margin: 0 10px;
  width: 228px;
  height: 298px;
}
.p-o-why-img {
  width: 228px;
}
.p-o-why-text-bold {
  font-family: Luckiest Guy;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  padding: 20px 0 10px;
}
.p-o-why-text {
  font-family: Inter;
  font-weight: 700;
  font-style: Bold;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
}

@media screen and (min-width: 1196px) {
  .p-o-why-container {
    width: 1440px;
    padding: 100px 170px 0;
  }
  .p-o-why-list {
    display: none;
  }
  .p-o-why-lists {
    display: flex;
    gap: 100px;
    padding-top: 50px;
  }
  .p-o-why-item {
    margin: 0;
    width: 297px;
    height: auto;
  }
  .p-o-why-img {
    width: 297px;
  }
  .p-o-why-text-bold {
    font-family: Luckiest Guy;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;

    padding: 30px 0 10px;
  }
  .p-o-why-text {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
  }
}

.p-o-uniqueness {
  margin: auto;
  width: 375px;
  padding: 50px 26px 0;
}
.p-o-uniqueness-container {
  margin: auto;
  background: #a0c51e0d;

  border-radius: 40px;

  padding: 20px 42px 34px;
}
.p-o-uniqueness-list {
  padding-top: 30px;
}
.p-o-uniqueness-item {
  width: 237px;
  height: 288px;
  margin: 0 10px;
}
.p-o-uniqueness-img {
  width: 237px;
}

@media screen and (min-width: 1196px) {
  .p-o-uniqueness {
    width: 1440px;
    padding: 100px 39px 0;
  }
  .p-o-uniqueness-container {
    margin: auto;
    padding: 24px 27px;
  }
  .p-o-uniqueness-list {
    display: none;
    padding-top: 30px;
  }
  .p-o-uniqueness-item {
    width: 297px;
    height: auto;
    margin: 0 0px;
  }
  .p-o-uniqueness-lists {
    gap: 40px;
  }
  .p-o-uniqueness-img {
    width: 297px;
  }
}

.p-o-how-container {
  margin: auto;
  width: 375px;
  padding: 50px 39px 0;
}
.p-o-how-list {
  padding-top: 30px;
}

.p-o-how-item {
  width: 297px;
  margin: 0 10px;
}

.p-o-how-img {
  margin: auto;
  width: 211px;
}

@media screen and (min-width: 1196px) {
  .p-o-how-container {
    margin: auto;
    width: 1440px;
    padding: 100px 170px 0;
  }
  .p-o-how-list {
    display: none;
  }

  .p-o-how-item {
    width: 297px;
    margin: 0 0px;
  }

  .p-o-how-img {
    margin: auto;
    width: 269px;
  }
}
.p-o-header-terms {
  background-color: transparent;
}
.p-o-reviews-container {
  margin: auto;
  padding: 50px 46px;
  width: 375px;
}
.p-o-reviews-list {
  padding-top: 30px;
}
.p-o-reviews-lists {
  display: none;
}

.p-o-reviews-item {
  margin: 0 10px;
  width: 278px;
  height: 233px;
  border-radius: 24px;
  padding-top: 22px;
  padding-right: 24px;
  padding-bottom: 22px;
  padding-left: 24px;
  background: #81b6140d;
  border: 1px solid #81b614;
}

.p-o-reviews-text-bold {
  font-family: Luckiest Guy;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0px;
}

.p-o-reviews-text {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;

  padding-top: 20px;
}

@media screen and (min-width: 1196px) {
  .p-o-reviews-container {
    margin: auto;
    padding: 100px 122px;
    width: 1440px;
  }
  .p-o-reviews-list {
    display: none;
  }
  .p-o-reviews-lists {
    display: flex;
    gap: 50px;
    padding-top: 50px;
  }

  .p-o-reviews-item {
    margin: 0 0px;
    width: 365px;
    height: auto;
    border-radius: 24px;
    border-width: 1px;
    padding-top: 22px;
    padding-right: 24px;
    padding-bottom: 22px;
    padding-left: 24px;
  }

  .p-o-reviews-text-bold {
    font-family: Luckiest Guy;
    font-weight: 400;
    font-style: Regular;
    font-size: 22px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0px;
  }

  .p-o-reviews-text {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
  }
}

.p-o-faq-container {
  padding: 50px 11px 0px;
  width: 375px;
  margin: auto;
}
.p-o-faq-list {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.p-o-faq-item {
  border: 1px solid #81b614;
  box-shadow:
    0px 2px 4px -2px #0000001a,
    0px 4px 6px -1px #0000001a;
  background: #81b6140d;
  border-radius: 24px;
  padding: 26px;
}

.p-o-faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Inter;
  font-weight: 700;
  font-style: Bold;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0px;
}

.p-o-faq-answer {
  border-top: 1px solid #81b614;
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;

  color: #fef1cfb2;
}
.p-o-toggle-button {
  background: none;
  border: none;
  cursor: pointer;
}

.p-o-toggle-button img {
  width: 40px;
  transition: transform 0.3s ease;
}
.p-o-faq-answer {
  max-height: 0;
  overflow: hidden;
  transition:
    max-height 0.4s ease,
    opacity 0.4s ease;
  opacity: 0;
}

.p-o-faq-answer.open {
  max-height: 200px;
  opacity: 1;
  padding-top: 16px;
  margin-top: 16px;
}

.p-o-toggle-button img.rotated {
  transform: rotate(180deg);
}
@media screen and (min-width: 1196px) {
  .p-o-faq-container {
    padding: 100px 272px 0;
    width: 1440px;
    margin: auto;
  }
  .p-o-faq-list {
    padding-top: 50px;
  }

  .p-o-faq-item {
    border: 1px solid #81b614;
    box-shadow:
      0px 2px 4px -2px #0000001a,
      0px 4px 6px -1px #0000001a;
    background: #81b6140d;
    border-radius: 24px;
    padding: 32px;
  }

  .p-o-faq-question {
    font-family: Inter;
    font-weight: 700;
    font-style: Bold;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 28px;
    letter-spacing: 0px;
  }

  .p-o-faq-answer {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 28px;
    letter-spacing: 0px;
  }
}
.slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  margin-top: 31px;
}
.slick-dots li {
  content: url("/img/why/Ellipse\ 16.png");
  width: 4px;
  height: 4px;
}

.slick-dots li.slick-active {
  content: url("/img/why/Ellipse\ 15.png");
  width: 6px;
  height: 6px;
}
.p-o-gallery-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 53px;
  margin-top: -18px;
  z-index: 1;
}

.p-o-gallery-button {
  background-color: transparent;
  border: none;
  padding: 0;
  -webkit-transition: scale 0.3s ease;
  transition: scale 0.3s ease;
}
.p-o-gallery-button-icon {
  width: 30px;
}
.p-o-gallery-button:hover {
  scale: 120%;
}
@media screen and (min-width: 1196px) {
  .p-o-gallery-button-container {
    display: none;
  }
}

.p-o-policy-terms-container {
  padding: 50px 8px;
  width: 375px;
  margin: auto;
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
}

.p-o-policy-terms-container h1 {
  margin-bottom: 30px;
  text-align: center;
  font-family: Luckiest Guy;
  font-weight: 400;
  font-style: Regular;
  font-size: 30px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: -4%;
}
.p-o-policy-terms-container h2 {
  margin: 30px 0 10px;
  font-family: Inter;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
}

.p-o-policy-terms-container a {
  color: inherit;
  text-decoration: none;
}
@media screen and (min-width: 1196px) {
  .p-o-policy-terms-container {
    padding: 100px 40px;
    width: 1440px;
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    leading-trim: NONE;
  }
  .p-o-policy-terms-container h1 {
    font-family: Luckiest Guy;
    font-weight: 400;
    font-style: Regular;
    font-size: 50px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: -4%;
    margin-bottom: 50px;
  }
  .p-o-policy-terms-container h2 {
    font-family: Inter;
    font-weight: 700;
    font-style: Bold;
    font-size: 30px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
  }
}

.p-o-footer-container {
  width: 375px;
  padding: 18px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.p-o-footer-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 100px;
  font-family: Luckiest Guy;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: center;
}
.p-o-footer-wrapper-two {
  gap: 33px;
}
.p-o-footer-text {
  text-decoration: none;
  color: inherit;
}

@media screen and (min-width: 1196px) {
  .p-o-footer-container {
    width: 1440px;
    padding: 37px 211px;
    gap: 60px;
  }

  .p-o-footer-wrapper {
    gap: 100px;
    font-family: Luckiest Guy;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: center;
  }
  .p-o-footer-wrapper-two {
    gap: 580px;
  }
  .p-o-footer-text {
  }

  .p-o-footer-copyright {
  }
}
